<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SLID Web App</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Bootstrap App Landing Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.png" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  
  <!-- PLUGINS CSS STYLE -->
  <link rel="stylesheet" href="static/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="static/plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="static/plugins/slick/slick.css">
  <link rel="stylesheet" href="static/plugins/slick/slick-theme.css">
  <link rel="stylesheet" href="static/plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="static/plugins/aos/aos.css">

  <!-- CUSTOM CSS -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<!--====================================
=            Hero Section            =
=====================================-->
<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container">
		<center><h1 class="text-white font-weight-bold mb-4" data-aos="fade-up">Spoken Language Identification</h1></center>
		<center><p class="text-white mb-5" data-aos="fade-up"> The process of detecting language from an audio clip by an unknown speaker, regardless of gender, manner of speaking, and distinct age speaker, is defined as spoken language identification (SLID)</p></center>
		<center><a href="https://github.com/lengstrom/fast-style-transfer" class="btn btn-main-md" data-aos="zoom-in">Explore Now</a></center>
	</div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
         <center><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_znayulli.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;" loop autoplay></lottie-player></center>
					<h3 class="mt-4 text-capitalize h5 ">Automatic Speech Recognition</h3>
					<p class="regular text-muted">These models can easily be applied to Automatic Speech Recognition (ASR) Softwares that allows human beings to use their voices to speak with a computer interface in a way that, in its most sophisticated variations, resembles normal human conversation.</p>
				</div>
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
          <center>
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_holcet7m.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop autoplay></lottie-player>
          </center>
					<h3 class="mt-4 text-capitalize h5 ">Automated Language Translation</h3>
					<p class="regular text-muted">These models are very useful in generating Machine Translation (MT) or automated translation which is a process when a computer software translates text from one language to another without human involvement. </p>
				</div>
				<div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
					<center>
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_mflokyg2.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop autoplay></lottie-player>
          </center>
					<h3 class="mt-4 text-capitalize h5 ">Regional Language Aquisition</h3>
					<p class="regular text-muted">These models help the users to know about different regional languages as they play a vital role in shaping one's personality in one way or other. The more the number of languages you know, the more the number of people you will be able to effectively with.</p>
				</div>
			</div>
		</div>
	</div>
</section>



<center><h1>Time to serve a Model!!</h1></center>
<br>
<br>
<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 ml-auto align-self-center">
				<div class="feature-content-predict">
					<!-- Feature Title -->
					<h4 class="desc">Upload your audio file and roll your sleeves to unleash magic of our Model.</h4>
					<br>
					<br>
					<h1 id="check-predict"></h1>
					<center><div onclick="Predict()" id="loading_animate" class="lds-roller" style="display: none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></center>
					<button onclick="Predict()" id="predict-btn">Know Your Dialect</button>
				</div>
			</div>
			<div class="col-lg-8 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<center><div id = "boxes">
            <div id = "leftbox">
                <center><div class="img-container">
            <div class="wrapper">
            	<div class="image">
            	<img src="static\images\dialog.png" alt="Audio-File">
            </div>
            	<figure>
            		<audio id="audio-file"
            		controls
                    src="">
                    Your browser does not support the <code>audio</code> element.
                </audio>
            </figure>
            </div>
                <input id="default-btn" type="file" hidden>
                <button onclick="defaultBtnActive()"id="custom-btn">Choose File</button>
            </div></center>
            <script>
                const defaultBtn=document.querySelector("#default-btn");
                const customBtn=document.querySelector("#custom-btn");
                function defaultBtnActive()
                {
                    defaultBtn.click();
                }
                defaultBtn.addEventListener("change",function()
                {
                	document.getElementById("audio-file").src="";
                     const file=this.files[0];
                     console.log("In Left Box");
                     console.log(file);
                     if(file)
                     {
                        const reader=new FileReader();
                        reader.onload=function(){
                            const result=reader.result;
                            document.getElementById("audio-file").src = result;
                        }
                        reader.readAsDataURL(file);
                     }
                });
            </script>
            </div> 
        </div></center>
			</div>
			<script>
			const pbtn=document.querySelector("#predict-btn");
			const loader=document.getElementById("loading_animate");
			function Predict()
			{
                pbtn.click();
            }
            pbtn.addEventListener("click",function()
            {
            	const str_l=document.getElementById("audio-file").src.split(/(\\|\/)/g).pop();
            	const loader=document.getElementById("loading_animate");
            	console.log("Audio File is: \n",str_l);
                if(str_l!=='')
                {
                	console.log("Got both the Audio File!!");
                	const var1=document.getElementById("audio-file").src;
                	var jsonData = JSON.stringify({"file_1":var1});
                	console.log("Hidding Predict Button Now!!!");
                	$(pbtn).hide();
                	$(loader).show();
                	$.ajax({
                    type: 'POST',
                    url: '/predict',
                    dataType:"json",
                    data:jsonData,
                    contentType: "application/json",
                    cache: false,
                    processData: false,
                    async: true,
                    success: function(data) 
                    {
                    	//document.getElementById("check-predict").innerText=data['b64'];
                    	// Here we want a name of dialect.
                    	//const addr=data['b64'];
                    	//console.log("Data we get on success: \n"+addr);
                    	console.log("Showing Predict Button:");
                    	$(pbtn).show();
                    	$(loader).hide();
                    	document.getElementById("output-lang").innerText=data['b64'];
                    },
                    error:function()
                    {
                    	alert('Request can\'t be processed now!!!');
                    	$(pbtn).show();
                    	$(loader).hide();
                    }
                    })
                }
                else
                {
                	alert("Upload the Audio File!!");
                }
            });
		</script>
		</div>
	</div>
</section>
<!--====  End of Feature Grid  ====-->
<br>
<br>
<br>

<div class="img-container-l-out">
	<div class="row">
		<div class="col-lg-8 ml-auto align-self-center">
			<center><h2> Output Dialect Generated By Model.</h2></center>
			<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_zqvlawhs.json"  background="transparent"  speed="1"  style="width: 500px; height: 400px;"  loop  autoplay></lottie-player>
		</div>
		<div class="col-lg-4 ml-auto align-self-center">
			<div class="img-container-l-out">
				<div class="wrapper-l-out"style="background-image: url(static/images/waveform.jpg);">
					<center><h1 id="output-lang" data-aos='fade-down' style="color: whitesmoke;
					padding-bottom: 50px;"></h1></center>
		        </div>
	        </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by Mahak Garg & Aakash Srivastava</small class="text-secondary">
  </div>
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="static/plugins/jquery/jquery.min.js"></script>
  <script src="static/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="static/plugins/slick/slick.min.js"></script>
  <script src="static/plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="static/plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="static/plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="static/plugins/google-map/gmap.js"></script>
  
  <script src="static/js/script.js"></script>
</body>

</html>